body {
  background-color: black;
  
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
/* .class */
}
.centre {
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;


}

#welcome {
  background-color: white;
  border:2px solid Yellow;
 padding: 5px;
 margin-bottom: 5px;
 color: rgb(0, 34, 128);

}
#welcome p {
  font-size:px;
}
img {
  border-radius: 80%;
}
.maintext{
  background-color:yellow;
}
